.new-job {
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.new-job > .job-header {
  font-weight: 500;
  color: #f5f5f5;
  font-size: 12px;
  line-height: 14.63px;
  background-color: #2f80ed;
}

.new-job > .job-header .arrow-handler-width {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

.new-job > .job-wrapper {
  height: 658px;
}

.new-job > .job-wrapper.hidden {
  display: none !important;
}

.new-job > .job-wrapper > .job-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-top: 1px solid #bdbdbd;
  background-color: #f5f5f5;
}

.new-job > .job-wrapper .job-footer #generate-job {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #ffffff;
  background-color: #dc6bbc;
}
