.btn-spinner-loader {
  width: 6px;
  height: 6px;
  margin: auto;
  border-radius: 50%;
  display: block;
  position: relative;
  background-color: #ffffff;
  box-shadow: 16px 0 #ffffff, -16px 0 #ffffff;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 16px 0 #FFF2, -16px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 16px 0 #FFF2, -16px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 16px 0 #FFF, -16px 0 #FFF2;
  }
}
      