.disconnect-calendar-modal {
  font-size: 12px;
  line-height: 14.63px;
}

.disconnect-calendar-modal .message {
  color: #4f4f4f;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 2rem;
}

.disconnect-calendar-modal .modal-content {
  width: 268px;
  height: 185px;
}

.disconnect-calendar-modal #btn-confirm-disconnect-calendar {
  border: 1px solid #bdbdbd;
  background: #ffffff !important;
}

.disconnect-calendar-modal #btn-confirm-disconnect-calendar .btn-spinner-loader {
  background-color: #000000;
  box-shadow: 16px 0 #000000, -16px 0 #000000;
  animation: flashBlack 0.5s ease-out infinite alternate;
}

@keyframes flashBlack {
  0% {
    background-color: #FFF2;
    box-shadow: 16px 0 #FFF2, -16px 0 #000000;
  }

  50% {
    background-color: #000000;
    box-shadow: 16px 0 #FFF2, -16px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 16px 0 #000000, -16px 0 #FFF2;
  }
}

.disconnect-calendar-modal #btn-cancel-disconnect-calendar {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #dc6bbc;
}

.disconnect-calendar-modal #btn-cancel-disconnect-calendar,
.disconnect-calendar-modal #btn-confirm-disconnect-calendar {
  width: 103px;
  height: 30px;
}
