.appointments-header {
  height: 41px;
}

.appointments-header .appointments-filter-by-status {
  width: 40%;
}

.appointments-header .appointments-filter-by-status.skeleton-animation {
  height: 20px;
}

.appointments-header > .appointments-wrapper {
  background-color: #241d5d;
  width: 77%;
}

.appointments-header > .appointments-wrapper > span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.appointments-header > .appointments-wrapper > .select,
.appointments-header .appointments-filter-by-status.skeleton-animation {
  margin-left: 1rem;
}

.appointments-header > .appointments-wrapper > .select > .select-value {
  background-color: #fff;
  border: none;
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
  margin-top: 0 !important;
}

.appointments-header > .connect {
  font-size: 12px;
  width: 23%;
  font-weight: 400;
  line-height: 14.83px;
  background-color: #dc6bbc;
  color: #ffffff;
  min-width: 120px;
}

.appointments-header > .checking-connection {
  width: 30%;
  min-width: 150px;
  justify-content: center !important;
}

.appointments-header > .connect.connected {
  width: 30%;
  min-width: 162px;
}

.appointments-content {
  height: 658px;
  overflow-y: auto;
  overflow-x: auto;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.appointments-content > .appointments-fields > .appointments-list {
  color: #ffffff;
  background-color: #828282;
}

.appointments-content
  > .appointments-fields
  > .appointments-list
  > .appointment-field {
  font-size: 12px;
  line-height: 14.63px;
}

.appointments-content
  > .appointments-fields
  > .appointments-list
  > .appointment-field.field-status {
  text-align: center;
}

.appointments-content
  > .appointments-registered
  > .appointments-list
  > .appointment {
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  font-weight: 300;
  font-style: normal;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid #bdbdbd;
}

.field-date,
.field-status,
.field-client,
.field-property {
  width: 25%;
}

.field-client {
  min-width: 150px;
}

.field-status,
.field-property {
  min-width: 120px;
}

.field-status {
  max-width: 120px;
  margin: auto;
}

.appointment .field-status .select .select-value {
  margin-top: 0 !important;
}

.appointment .skeleton-animation.text {
  /* width: 80%; */
  height: 14px;
  margin-right: 1rem;
}

.appointment .field-property.skeleton-animation.text  {
  min-width: 105px;
}

.appointment .field-client.skeleton-animation.text  {
  min-width: 132px;
}

.appointment .field-date.skeleton-animation.text  {
  min-width: 85px;
}

.appointment .skeleton-animation.select {
  height: 30px;
}

.field-date {
  min-width: 100px;
  max-width: 100px;
  margin: auto;
}

.appointments-content
  > .appointments-fields
  > .appointments-list
  > .appointment-field.field-status {
  margin-left: 1.5rem;
}

.appointment:nth-last-child(-n + 3) .select-options {
  bottom: 100%;
}

@media screen and (max-width: 1024px) {
  .appointments-fields,
  .appointments-registered,
  .appointments-registered .appointments-list,
  .appointments-content
    > .appointments-fields
    > .appointments-list
    > .appointment-field,
  .appointments-content
    > .appointments-registered
    > .appointments-list
    > .appointment {
    display: table;
  }
}

@media screen and (max-width: 450px) {
  .appointments-header {
    height: auto;
    flex-wrap: wrap;
  }

  .appointments-header .connect,
  .appointments-header .appointments-wrapper {
    width: 100%;
  }

  .appointments-header .appointments-wrapper {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .appointments-header .connect {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
