.modal-content {
  margin: auto;
  padding: 0.65rem;
  border-radius: 0 !important;
  border: 1px solid #bdbdbd !important;
}

@media only screen and (max-width: 650px) {
  .modal {
    padding-left: 0 !important;
  }
}