body {
  font-family: 'Montserrat', sans-serif !important;
}

button {
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

.skeleton-animation {
  pointer-events: none;
  background-color: #eee;
  animation: loading-skeleton 1s infinite alternate;
}

@keyframes loading-skeleton {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}